@page
@model GYM.Pages.BookingPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.CourseId" class="control-label"></label>
                <input asp-for="Booking.CourseId" class="form-control" type="number"/>
                <span asp-validation-for="Booking.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CourseName" class="control-label"></label>
                <input asp-for="Booking.CourseName" class="form-control" />
                <span asp-validation-for="Booking.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.UserId" class="control-label"></label>
                <input asp-for="Booking.UserId" class="form-control" type="number" />
                <span asp-validation-for="Booking.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Username" class="control-label"></label>
                <input asp-for="Booking.Username" class="form-control" />
                <span asp-validation-for="Booking.Username" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
