@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://d3s6gs1cfdg3qb.cloudfront.net/files/f8b443d2254a97dc6b27631da5dbe7cac9d449ebf22be7254ea01988d9e9e3ae.jpg" />
</div>
