@page
@model DDAC_Assignment.Views.CustomersPage.CustModel
@{
}
<div class="container">
    <h1 class="text-info">
        Welcome to Customer Page
    </h1>
    <hr />
    <div class="row">
        <!--左边注册页面-->
        <div class="col-md-3 border">
            <form method="post">

                <label class="form-label" asp-for="customers.username"></label>
                <input type="text" class="form-control" id="username" placeholder="Please, type your username">

                <label class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Please, type your password">

                <label class="form-label">Real Name</label>
                <input type="text" class="form-control" id="realname" placeholder="Please, type your real name">

                <label class="form-label">Gender</label>
                <select class="form-select">
                    <option selected value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label class="form-label">Mobile Phone</label>
                <input type="text" class="form-control" id="mobile" placeholder="Please, type your mobile">

                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Please, type your email">

                <br />
                <button type="submit" class="btn btn-primary">Sign up</button>
                <br />
            </form>
        </div>
        <!--右边数据展示页面-->
        <div class="col-md-9">
            <h1>
                xixixixi
            </h1>
        </div>
    </div>
</div>